### Agenda: 


* Illustrate how to group data in data frame by categorical column

* Apply aggregate functions after grouping

---

In [1]:
# Import Libraries

import os
import pandas as pd

In [2]:
# Declare the file path

filepath = os.path.join('Resources', 'imdb_1000.csv')

In [3]:
# Read the csv file into a dataframe using read_csv function

df = pd.read_csv(filepath)
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

---

#### Groupby

In [4]:
#Group the data by genre and get the average duration

df.groupby('genre').duration.mean()

genre
Action       126.485294
Adventure    134.840000
Animation     96.596774
Biography    131.844156
Comedy       107.602564
Crime        122.298387
Drama        126.539568
Family       107.500000
Fantasy      112.000000
Film-Noir     97.333333
History       66.000000
Horror       102.517241
Mystery      115.625000
Sci-Fi       109.000000
Thriller     114.200000
Western      136.666667
Name: duration, dtype: float64

In [5]:
#Group the data by genre and get the minimum duration

df.groupby('genre').duration.min()

genre
Action        80
Adventure     89
Animation     75
Biography     85
Comedy        68
Crime         67
Drama         64
Family       100
Fantasy      112
Film-Noir     88
History       66
Horror        70
Mystery       69
Sci-Fi        91
Thriller     107
Western       85
Name: duration, dtype: int64

In [6]:
#Group the data by genre and get the aggregated functions for duration

df.groupby('genre').duration.agg(['min', 'max', 'median', 'count', 'sum'])

           min  max  median  count    sum
genre
Action      80  205   125.0    136  17202
Adventure   89  224   127.0     75  10113
Animation   75  134    94.5     62   5989
Biography   85  202   127.0     77  10152
Comedy      68  187   104.0    156  16786
Crime       67  229   118.0    124  15165
Drama       64  242   123.0    278  35178
Family     100  115   107.5      2    215
Fantasy    112  112   112.0      1    112
Film-Noir   88  111    93.0      3    292
History     66   66    66.0      1     66
Horror      70  146   104.0     29   2973
Mystery     69  160   115.0     16   1850
Sci-Fi      91  132   113.0      5    545
Thriller   107  120   116.0      5    571
Western     85  175   135.0      9   1230

In [7]:
#Group the data by genre and applying aggregated functions

df.groupby('genre').agg(['min', 'max', 'median', 'count', 'sum'])

          star_rating                           duration                    \
                  min  max median count     sum      min  max median count
genre
Action            7.4  9.0   7.80   136  1072.3       80  205  125.0   136
Adventure         7.4  8.9   7.90    75   595.0       89  224  127.0    75
Animation         7.4  8.6   7.90    62   490.7       75  134   94.5    62
Biography         7.4  8.9   7.80    77   605.4       85  202  127.0    77
Comedy            7.4  8.6   7.80   156  1220.3       68  187  104.0   156
Crime             7.4  9.3   7.80   124   981.7       67  229  118.0   124
Drama             7.4  8.9   7.90   278  2196.9       64  242  123.0   278
Family            7.8  7.9   7.85     2    15.7      100  115  107.5     2
Fantasy           7.7  7.7   7.70     1     7.7      112  112  112.0     1
Film-Noir         7.7  8.3   8.10     3    24.1       88  111   93.0     3
History           8.0  8.0   8.00     1     8.0       66   66   66.0     1
Horror            7.4  8.6   7.70    29   226.4       70  146  104.0    29
Mystery           7.4  8.6   8.10    16   127.6       69  160  115.0    16
Sci-Fi            7.7  8.2   7.90     5    39.6       91  132  113.0     5
Thriller          7.5  8.0   7.60     5    38.4      107  120  116.0     5
Western           7.6  8.9   8.30     9    74.3       85  175  135.0     9


             sum
genre
Action     17202
Adventure  10113
Animation   5989
Biography  10152
Comedy     16786
Crime      15165
Drama      35178
Family       215
Fantasy      112
Film-Noir    292
History       66
Horror      2973
Mystery     1850
Sci-Fi       545
Thriller     571
Western     1230